<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

    <!-- Section: Links  -->
<!--    <section class="">-->
<!--        <div class="container text-center text-md-start mt-5">-->
<!--            &lt;!&ndash; Grid row &ndash;&gt;-->
<!--            <div class="row mt-3">-->
<!--                &lt;!&ndash; Grid column &ndash;&gt;-->
<!--                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">-->
<!--                    &lt;!&ndash; Content &ndash;&gt;-->
<!--                    <h6 class="text-uppercase fw-bold mb-4">-->
<!--                        <i class="fas fa-gem me-3"></i>Company name-->
<!--                    </h6>-->
<!--                    <p>-->
<!--                        Lets make some money.-->
<!--                    </p>-->
<!--                </div>-->
<!--                &lt;!&ndash; Grid column &ndash;&gt;-->

<!--                &lt;!&ndash; Grid column &ndash;&gt;-->
<!--                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">-->
<!--                    &lt;!&ndash; Links &ndash;&gt;-->
<!--                    <h6 class="text-uppercase fw-bold mb-4">-->
<!--                        Products-->
<!--                    </h6>-->
<!--                    <p>-->
<!--                        <a href="#!" class="text-reset">History</a>-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        <a href="#!" class="text-reset">Best Bets</a>-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        <a href="#!" class="text-reset">Live Score</a>-->
<!--                    </p>-->
<!--                </div>-->
<!--                &lt;!&ndash; Grid column &ndash;&gt;-->

<!--                &lt;!&ndash; Grid column &ndash;&gt;-->
<!--                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">-->
<!--                    &lt;!&ndash; Links &ndash;&gt;-->
<!--                    <h6 class="text-uppercase fw-bold mb-4">-->
<!--                        Useful links-->
<!--                    </h6>-->
<!--                    <p>-->
<!--                        <a href="#!" class="text-reset">Pricing</a>-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        <a href="#!" class="text-reset">Settings</a>-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        <a href="#!" class="text-reset">Orders</a>-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        <a href="#!" class="text-reset">Help</a>-->
<!--                    </p>-->
<!--                </div>-->
<!--                &lt;!&ndash; Grid column &ndash;&gt;-->

<!--                &lt;!&ndash; Grid column &ndash;&gt;-->
<!--                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">-->
<!--                    &lt;!&ndash; Links &ndash;&gt;-->
<!--                    <h6 class="text-uppercase fw-bold mb-4">-->
<!--                        Contact-->
<!--                    </h6>-->
<!--                    <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>-->
<!--                    <p>-->
<!--                        <i class="fas fa-envelope me-3"></i>-->
<!--                        info@example.com-->
<!--                    </p>-->
<!--                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>-->
<!--                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>-->
<!--                </div>-->
<!--                &lt;!&ndash; Grid column &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; Grid row &ndash;&gt;-->
<!--        </div>-->
<!--    </section>-->
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mkekani.com">mkekani.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->