{% extends "base.html" %}

{% block content %}
</br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Pita Predictions</h1>
        </div>
        <div class="col-sm">
            <div class="row" style="float: right">
                <div class="col-sm">
                    <label style="padding: 2px;">Choose League</label>
                    <form action="/filter" method="POST">
                        <select name="league" class="form-select" aria-label="Default select example">
                            <option selected value="all">All</option>
                            {% for league in leagues %}
                            <option value="{{league.id}}">{{league.name}}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="col-sm">
                    <button style="margin-top: 28px" class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>


</br>

{% for mkeka in mikeka %}
{% if mkeka|length > 0 %}
<div class="table-responsive">
    <table id="data" class="table table-bordered ">
        <thead>
        <tr>
            <td style="border-right-width:0px">League</td>
            <td colspan="7" style="border-left-width:0px;">{{ leagues[loop.index0].name }}</td>
        </tr>
        <tr>
            <td style="border-right-width:0px">Date</td>
            <td colspan="7" style="border-left-width:0px;">{% for date in dates %} {{date.playingOn}}, {% endfor %}</td>
        </tr>
        <tr>
            <th>Match</th>
            <th>Prediction</th>
            <th>Goals</th>
            <th colspan="3">Confidence</th>
<!--            <th>Result</th>-->
<!--            <th>Goals</th>-->
        </tr>
        <tr>
            <th></th>
            <th>1X2</th>
            <th></th>
            <th>1</th>
            <th>X</th>
            <th>2</th>
<!--            <th></th>-->
<!--            <th></th>-->
        </tr>
        </thead>
        <tbody>
        {% for mkeka in mkeka %}
        <tr>
            <td>{{ mkeka.home_team }} vs {{ mkeka.away_team }}</td>
            <td>{{ mkeka.prediction_winner }}</td>
            <td>{{ mkeka.home_goals }} - {{ mkeka.away_goals }}</td>
            <td>{{ mkeka.home_odds }}</td>
            <td>{{ mkeka.draw_odds }}</td>
            <td>{{ mkeka.away_odds }}</td>
<!--            <td></td>-->
<!--            <td></td>-->
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</br></br>
{% endif %}
{% endfor %}
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                null,
                {searchable: true},
                {orderable: true, searchable: true},
                {orderable: true, searchable: true},
                null],
        });
    });
</script>
{% endblock %}