{% extends "base.html" %}

{% block content %}
</br>
<div class="container">

    <div class="row">
        <div class="col-sm">
            <h1>Add League</h1>
        </div>
        <form action="{{ url_for('league') }}" method="POST">
            <div class="form-group">

                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                <br>
            </div>
            <br>
            <center>
                <button type="submit" class="btn btn-success">Add</button>
            </center>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                null,
                {searchable: true},
                {orderable: true, searchable: true},
                {orderable: true, searchable: true},
                null],
        });
    });
</script>
{% endblock %}


</body>
</html>