{% extends "base.html" %}

{% block content %}
</br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Add Mkeka</h1>
        </div>
        <form action="{{ url_for('mikeka') }}" method="POST">
            <div class="form-group ">

                <label for="league">League:</label>
                <select name="league" id="league" class="form-select" aria-label="Default select example">
                    <option value="chagua" selected>Choose</option>
                    {% for league in leagues %}
                    <option value="{{league.id}}">{{league.name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="home_team">Home Team:</label>
                <select name="home_team" id="home_team" class="form-select" aria-label="Default select example">
                    <option value="chagua" selected>Choose</option>
                    {% for team in teams %}
                    <option value="{{team.id}}">{{team.name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="away_team">Away Team:</label>
                <select name="away_team" id="away_team" class="form-select" aria-label="Default select example">
                    <option value="chagua" selected>Choose</option>
                    {% for team in teams %}
                    <option value="{{team.id}}">{{team.name}}</option>
                    {% endfor %}
                </select><br>
                <label for="prediction">Prediction:</label>
                <select name="prediction" id="prediction" class="form-select" aria-label="Default select example">
                    <option value="chagua" selected>Choose</option>
                    <option value="1">1</option>
                    <option value="X">X</option>
                    <option value="2">2</option>
                </select><br>
                <label for="home_odds">Home Odds:</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control " id="home_odds" name="home_odds" placeholder="Home Odds">
                </div>
                <br>
                <label for="away_odds">Away Odds:</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="away_odds" name="away_odds" placeholder="Away Odds">
                </div>
                <br>
                <label for="draw_odds">Draw Odds:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="draw_odds" name="draw_odds" placeholder="Draw Odds">
                </div>
                <br>
                <label for="home_goals">Home Goals:</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="home_goals" name="home_goals"
                           placeholder="Home Goals">
                </div>
                <br>
                <label for="away_goal">Away Goals:</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="away_goals" name="away_goals" placeholder="Away Goals">
                </div>
                <br>
                <label for="playing_on">Playing on:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="playing_on" name="playing_on" placeholder="Playing On">
                </div>
                <br>
            </div>
            <br>
            <center>
                <button type="submit" class="btn btn-success">Submit</button>
            </center>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                null,
                {searchable: true},
                {orderable: true, searchable: true},
                {orderable: true, searchable: true},
                null],
        });
    });
</script>

<script>
    $(document).ready(function () {

        $("#home_team").selectpicker();

        function load_data(type) {
            $.ajax({
                url: "/get_teams",
                method: "GET",
                dataType: "json",
                success: function (data) { //alert(category_id)
                    var html = "";
                    for (var count = 0; count < data.length; count++) {
                        html += '<option value="' + data[count].id + '">' + data[count].name + "</option>";
                    }
                    if (type == "home_team") {
                        $("#home_team").html(html);
                        $("#home_team").selectpicker("refresh");
                    } else {
                        $("#home_team").html(html);
                        $("#home_team").selectpicker("refresh");
                    }
                },
            });
        }

        $(document).on("change", "#league", function () {
            console.log("Yee")
            load_data("home_team");
        });
    });
</script>
{% endblock %}


</body>
</html>