{% extends "base.html" %}

{% block content %}
</br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Pita Predictions</h1>
            <div class="col-sm">
                <a href="{{url_for('team')}}">
                    <button style="margin-top: 28px" class="btn btn-primary">Add New Team</button>
                </a>
            </div>
        </div>
    </div>
</div>


</br>

<table id="data" class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for team in teams %}
    <tr>
        <td>{{ team.id }}</td>
        <td>{{ team.name }}</td>
        <td>{{ team.description }}</td>
        <td><a href="{{url_for('edit_team', id=team.id)}}">
            Edit
        </a></td>
        <td><a href="{{url_for('delete_team', id=team.id)}}">
            Delete
        </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</br></br>
</br></br>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                null,
                {searchable: true},
                {orderable: true, searchable: true},
                {orderable: true, searchable: true},
                null],
        });
    });
</script>
{% endblock %}