{% extends "base.html" %}

{% block content %}
</br>
<div class="container">

    <div class="row">
        <div class="col-sm">
            <h1>Add Bets</h1>
        </div>
        <br>
        <form method=post enctype=multipart/form-data>
            <div class="form-group">
                <label>Upload File:</label>
                <br>
                <input class="form-control" type=file name=file>
                <br>
            </div>
            <br>
            <center>
                <input type=submit value=Upload class="btn btn-success">
            </center>
            <br>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                null,
                {searchable: true},
                {orderable: true, searchable: true},
                {orderable: true, searchable: true},
                null],
        });
    });
</script>
{% endblock %}


</body>
</html>
<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>